@import url('https://fonts.googleapis.com/css?family=Assistant:200,300,400,600,700,800|Source+Sans+Pro:300,300i,400,400i,700,700i');
:root {
	--turkey: #FFF0EB;
	--white: white;
	--blue: blue;
}

*, *:before, *:after {
  box-sizing: border-box;
}
html {
	font-size: 62.5%;
}
html,
body {
	padding: 0;
	margin: 0;
	font-family: "Source Sans Pro", "Avenir Next", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
	font-weight: 300;
	-webkit-font-smoothing: antialiased;
}

body {
	font-size: 2rem;
	letter-spacing: .15px;
	background: linear-gradient(45deg, #efefef, #fffdfd);
}
h1 {
	font-family: Assistant, arial, sans-serif;
	font-size: 6rem;
	font-weight: 700;	
	letter-spacing: 1px;
	line-height: 1.1;
	margin-bottom: 0; 
}
h2 {
	font-family: Assistant, arial, sans-serif;
	font-size: 5rem;
	font-weight: 300;	
	letter-spacing: 1px;
	line-height: 1.1;
	margin-bottom: 0; 
}
header {
	background-image: #fff;
	color: #303036;
	position: relative;
	padding: 1.6rem;
	padding-bottom: 100px !important; /* Give the waves some breathing room */
}
.header__top {
	position: relative;
	margin-top: 5px;
}
.header__logo {
	position: absolute; 
	top: 0;
	left: 0;
	display: block;
	margin-right: 2rem;
}
.header__top nav {
	width: 100%;
	text-align: center;
}
.header__top nav ul {
	margin: 0;
}
.header__login {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 0;
}
.header__top nav a,
.header__top nav a:visited {
	color: #303036;
}
.hero {
	max-width: 128rem;
	margin: 0 auto;
	display: flex;
	min-height: 80vh;
	position: relative;
}
#wave-cta-canvas{
	position: absolute;
	left: 0;
	right: 0;
	top: auto;
	bottom: 100%;
}
.wave-cta-section {
	background-color: #573dc2;
	color: #fff;
	width: 100%;
	position: relative;
	margin-top: 200px;
}
.wave-cta-section__text {
	padding: 3rem 2rem 5rem;
	max-width: 128rem;
	text-align: center;
	margin: 0 auto;
}
.hero__left,
.hero__right {
	flex: 1 1 50%;	
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.hero__image {
	margin: 0 auto;
	max-width: 80%;
}
.hero__image img {
	margin: 0 auto;
}	
.button {
	display: inline-block;
    vertical-align: middle;
    zoom: 1;
    text-align: center;
    padding: 15px 22px;
    line-height: 1em;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
	letter-spacing: 0.1em;
	color: #303036 !important;
    border: none;
    cursor: pointer;
	background-color: #17B890;
    /* background: -owg-linear-gradient(#2083fe, #1d7bf0);
    background: -webkit-linear-gradient(#2083fe, #1d7bf0);
    background: -moz-linear-gradient(#2083fe, #1d7bf0);
    background: -o-linear-gradient(#2083fe, #1d7bf0);
    background: linear-gradient(#2083fe, #1d7bf0); */
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: rgba(23,43,99,0.24) 0 7px 28px;
    -moz-box-shadow: rgba(23,43,99,0.24) 0 7px 28px;
    box-shadow: rgba(23,43,99,0.24) 0 7px 28px;
    transition-property: all;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
	-webkit-tap-highlight-color: transparent;
	opacity: .7;
}
.button:hover {
	opacity: 1;
}
.button_empty {
    color: #3e70ff;
    background-color: transparent;
    background: -owg-none;
    background: -webkit-none;
    background: -moz-none;
    background: -o-none;
    background: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

main {
	/* max-width: 37.5em; */
}

p,
pre,
code {
	line-height: 1.5;
}

a[href],
a[href]:visited {
	color: var(--blue);
}

a[href]:not(:hover) {
	text-decoration: none;
}

header,
main,
footer {
	/* padding: 1em; */
}

main {
	padding-bottom: 2em;
}

main :first-child,
main > article :first-child {
	margin-top: 0;
}

pre {
	font-size: 14px;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	-moz-tab-size: 2;
	tab-size: 2;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	padding: 1em;
	margin: .5em 0;
}

ul {
	padding: 0;
	list-style: none;
}

/* Header Logo (style as h2) */
header > em {
	display: block;
	font-size: 2em;
	margin: .67em 0;
	font-weight: bold;
	font-style: normal;
}

/* Header Nav */
header nav ul :first-child {
	margin-left: 0;
}

header nav li {
	display: inline-block;
	margin: 0 .5em;
}

header nav li a[href]:not(:hover) {
	text-decoration: none;
}

header nav li a[data-current="current item"] {
	font-weight: 700;
	text-decoration: underline;
}


/* Posts List */
article {
	margin-bottom: 1em;
	padding-bottom: 1em;
	border-bottom: 1px solid #eee;
	border-bottom: 1px solid var(--white);
}

main > section > article > * {
	margin-top: 0;
	margin-bottom: .5em;
}

/* Tags */
a[rel="tag"],
a[rel="tag"]:visited {
	display: inline-block;
  vertical-align: text-top;
  text-transform: uppercase;
	letter-spacing: .1em;
  font-size: .625em;
  padding: 0 .5em;
	line-height: 2em;
	height: 2em;
  border: 1px solid var(--white);
	background-color: var(--white);
	color: var(--blue);
  border-radius: .25em;
  text-decoration: none;
	margin: 0 .5em .5em 0;
}

a[rel="tag"]:hover {
	border: 1px solid var(--blue);
	background-color: var(--blue);
	color: var(--white);
}

a[rel="tag"]:last-child {
	margin-right: 0;
}

/* Contact Form */
form {
  display: grid;
	padding: 2em 0;
}

form label {
  display: none;
}

input,
textarea,
button {
  width: 100%;
  padding: 1em;
  margin-bottom: 1em;
	font-size: 1rem;
	font-family: "Avenir", "Avenir Next", sans-serif;
}

input,
textarea {
	border: 1px solid black;
}

button {
	border: 1px solid var(--blue);
	background-color: var(--blue);
	color: var(--white);
	cursor: pointer;
}

@media screen and (min-width:768px) {
	:root {
		/* font-size: 1.1rem; */
	}
}
