@import url('https://fonts.googleapis.com/css?family=Assistant:200,300,400,600,700,800|Source+Sans+Pro:300,300i,400,400i,700,700i');
:root {
	--turkey: #FFF0EB;
	--white: white;
	--blue: blue;
}

*, *:before, *:after {
  box-sizing: border-box;
}
html {
	font-size: 62.5%;
}
html,
body {
	padding: 0;
	margin: 0;
	font-family: "Source Sans Pro", "Avenir Next", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
	font-weight: 300;
	-webkit-font-smoothing: antialiased;
}

body {
	font-size: 2rem;
	letter-spacing: .15px;
	background: linear-gradient(45deg, #efefef, #fffdfd);
}
h1 {
	font-family: Assistant, arial, sans-serif;
	font-size: 5rem;
	font-weight: 700;	
	letter-spacing: 1px;
	line-height: 1.1;
	margin-bottom: 0; 
}
@media screen and (min-width: 768px) {
	h1 {
		font-size: 6rem;
	}
}
h2 {
	font-family: Assistant, arial, sans-serif;
	font-size: 5rem;
	font-weight: 300;	
	letter-spacing: 1px;
	line-height: 1.1;
	margin-bottom: 0; 
}
header {
	background-image: #fff;
	color: #303036;
	position: relative;
	padding: 1.6rem;
	padding-bottom: 100px !important; /* Give the waves some breathing room */
}
.header__top {
	position: relative;
	margin-top: 5px;
	height: 25px;
}
.header__logo {
	position: absolute; 
	top: 0;
	left: 0;
	display: block;
	margin-right: 2rem;
}
.header__top nav {
	width: 100%;
	text-align: center;
}
.header__top nav ul {
	margin: 0;
	display: none;
}
@media screen and (min-width: 768px) {
	.header__top nav ul {
		display: block;
	}
}
.header__login {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 0;
}
.header__top nav a,
.header__top nav a:visited {
	color: #303036;
}
.hero {
	max-width: 128rem;
	margin: 4rem auto;
	display: flex;
	flex-direction: column-reverse;
	min-height: 80vh;
	position: relative;
}
@media screen and (min-width: 768px) {
	.hero {
		flex-direction: row;
	}	
}
#wave-cta-canvas{
	position: absolute;
	left: 0;
	right: 0;
	top: auto;
	bottom: 100%;
	pointer-events: none;
}
.wave-cta-section {
	background-color: #573dc2;
	color: #fff;
	width: 100%;
	position: relative;
	margin-top: 200px;
}
.wave-cta-section__text {
	padding: 3rem 2rem 5rem;
	max-width: 128rem;
	text-align: center;
	margin: 0 auto;
}
.wave-cta-section__text br {
	display: none;
}
@media screen and (min-width: 768px) {
	.wave-cta-section__text br {
		display: initial;
	}
}
.hero__left,
.hero__right {
	flex: 1 1 50%;	
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.hero__left br {
	display: none;
}
@media screen and (min-width: 768px) {
	.hero__left br {
		display: initial;
	}
}
.hero__image {
	margin: 0 auto;
	max-width: 80%;
}
.hero__image img {
	margin: 0 auto;
}	


main {
	/* max-width: 37.5em; */
}

p,
pre,
code {
	line-height: 1.5;
}

a[href],
a[href]:visited {
	color: var(--blue);
}

a[href]:not(:hover) {
	text-decoration: none;
}

header,
main,
footer {
	/* padding: 1em; */
}

main {
	/* padding-bottom: 2em; */
}

main > :first-child,
main > article :first-child {
	margin-top: 0;
}

pre {
	font-size: 14px;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	-moz-tab-size: 2;
	tab-size: 2;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	padding: 1em;
	margin: .5em 0;
}

ul {
	padding: 0;
	list-style: none;
}

/* Header Logo (style as h2) */
header > em {
	display: block;
	font-size: 2em;
	margin: .67em 0;
	font-weight: bold;
	font-style: normal;
}

/* Header Nav */
header nav ul :first-child {
	margin-left: 0;
}

header nav li {
	display: inline-block;
	margin: 0 .5em;
}

header nav li a[href]:not(:hover) {
	text-decoration: none;
}

header nav li a[data-current="current item"] {
	font-weight: 700;
	text-decoration: underline;
}


/* Posts List */
article {
	margin-bottom: 1em;
	padding-bottom: 1em;
	border-bottom: 1px solid #eee;
	border-bottom: 1px solid var(--white);
}

main > section > article > * {
	margin-top: 0;
	margin-bottom: .5em;
}

/* Tags */
a[rel="tag"],
a[rel="tag"]:visited {
	display: inline-block;
  vertical-align: text-top;
  text-transform: uppercase;
	letter-spacing: .1em;
  font-size: .625em;
  padding: 0 .5em;
	line-height: 2em;
	height: 2em;
  border: 1px solid var(--white);
	background-color: var(--white);
	color: var(--blue);
  border-radius: .25em;
  text-decoration: none;
	margin: 0 .5em .5em 0;
}

a[rel="tag"]:hover {
	border: 1px solid var(--blue);
	background-color: var(--blue);
	color: var(--white);
}

a[rel="tag"]:last-child {
	margin-right: 0;
}

/* Contact Form */
form {
  display: grid;
	padding: 2em 0;
}

form label {
  /* display: none; */
}

input,
textarea,
button {
  width: 100%;
  padding: 1em;
  margin-bottom: 1em;
	/* font-size: 1rem; */
	font-family: "Avenir", "Avenir Next", sans-serif;
}

input,
textarea {
	/* border: 1px solid black; */
}

button,
a.button,
a.button:visited {
	display: inline-block;
    vertical-align: middle;
    zoom: 1;
    text-align: center;
    padding: 15px 22px;
    line-height: 1em;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
	letter-spacing: 0.1em;
	color: #fff;
    border: none;
    cursor: pointer;
	background-color: #17B890;
    /* background: -owg-linear-gradient(#2083fe, #1d7bf0);
    background: -webkit-linear-gradient(#2083fe, #1d7bf0);
    background: -moz-linear-gradient(#2083fe, #1d7bf0);
    background: -o-linear-gradient(#2083fe, #1d7bf0);
    background: linear-gradient(#2083fe, #1d7bf0); */
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: rgba(23,43,99,0.24) 0 7px 28px;
    -moz-box-shadow: rgba(23,43,99,0.24) 0 7px 28px;
    box-shadow: rgba(23,43,99,0.24) 0 7px 28px;
    transition-property: all;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
	-webkit-tap-highlight-color: transparent;
	opacity: .7;
}
.button:hover {
	opacity: 1;
}
a.button--empty,
a.button--empty:visited {
    color: #303036;
    background-color: transparent;
    background: -owg-none;
    background: -webkit-none;
    background: -moz-none;
    background: -o-none;
    background: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
a.button--action,
a.button--action:visited {
    color: #303036;
    background-color: #CEE5F2;
}
.wave-cta-section__block {
	flex: 0 0 30%;
	background-color: #fff;
	color: #000;
	border-radius: 3px;
	padding: 70px 20px 40px;
	margin-top: 100px;
	margin-bottom: 20px;
	position: relative;
	transition: transform .2s ease-out;
}
.wave-cta-section__block:hover {
	transform: scale(1.01);
}
.block__icon {
	background-color: #9b9cb7;
	border-radius: 50%;
	width: 100px;
	height: 100px;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, -50%);
	box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.6);
}
.block__icon svg {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 60%;
	width: auto;
	height: auto;
	fill: #fff;
}
.features {
	background-color: #fff;
	padding: 70px 0;
}
.features-inner {
    max-width: 100rem;
	margin: 0 auto;
	padding: 0 2rem;
}
.features__footer {
	text-align: center;
	margin-top: 20px;
}
.features__footer h3 {
	font-size: 36px;
	margin-bottom: 0;
}
.features svg {
	width: 50px;
	position: absolute;
	right: 100%;
}
.features h2 {
	margin-top: 0;
	margin-bottom: 60px;
	text-align: center;
}
.feature__card {
	display: inline-block;
	position: relative;
	margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
	.feature__card	{
		width: 50%;
	}
}
.feature__card h3 {
	margin: 0;
}
.feature__card p {
	margin: 0;
}
.feature__card .fas {
	font-size: 36px;
	background: -webkit-linear-gradient(215deg,rgba(174,13,231,1) 42%,rgb(72, 19, 255) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.feature__card--with-icon {
	display: inline-flex;
}
.feature__text-block {
	padding: 0 20px;
}
.card__blob {
	height: 250px;
	width: 300px;
	background-image: linear-gradient(45deg, #3023AE 0%, #FF0099 100%);
	border-radius: 30% 70% 49% 51% / 30% 30% 70% 70% ;
}
.integrations {
	background-color: #fff;
	text-align: center;
}
.pricing {
	background-color: #054A91;
	background: linear-gradient(180deg, rgba(5,74,145,1) 26%, rgba(62,124,177,1) 81%);
	padding: 40px 2rem 60px;
	text-align: center;
}
.pricing h2 {
	color: #fff;
	margin-bottom: 0;
}
.pricing p {
	color: #fff;
	margin-bottom: 40px;
}
.pricing__inner {
	max-width: 100rem;
	margin: 0 auto;
	justify-content: space-between;
}
.pricing__card {
	padding: 40px 40px 80px;
	margin-bottom: 2rem;
	border-radius: 3px;
	background-color: #fff;
	position: relative;
}
@media screen and (min-width: 600px) {
	.pricing__inner {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	.pricing__card {
		flex: 0 1 300px;
	}
}
@media screen and (min-width: 1000px) {
	.pricing__inner {
		flex-wrap: nowrap;
	}
	.pricing__card {
		margin-bottom: 0;
	}
}
.pricing__card .button {
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%)
}
.card__title {
	font-size: 24px;
}
.card__subtitle {
	font-size: 14px;
	margin-bottom: 10px;
}
.card__price {
	font-size: 60px;
	font-weight: bold;
}
.card__price span:first-of-type {
	font-size: 30px;
	font-weight: normal;
	vertical-align: middle;
	margin-right: 5px;
}
.card__price span:last-of-type {
	font-size: 20px;
	font-weight: normal;
	vertical-align: middle;
	margin-left: 5px;
	color: #666;
}
.pricing__card ul {
	text-align: left;
}
.pricing__card li {
	margin-bottom:10px;
	font-size: 16px;
}
.pricing__card li:before {
	content: "\f058";
	font-family: "Font Awesome 5 Free";
	margin-right: 5px;
	font-size: 14px;
}
footer {
	background-color: #333;
	color: #fff;
	padding: 3rem;
	text-align: center;
	font-size: 14px;
}
@media screen and (min-width:768px) {
	:root {
		/* font-size: 1.1rem; */
	}
	.wave-cta-section__blocks {
		display: flex;
		justify-content: space-between;
	}
}