{% set site_name = [{
  title: "Home",
  url: "URL"
}] %}
<nav>
  <ul>
  {%- for nav in site_nav -%}
    <li><a href="{{ nav.url | url }}"{% if nav.url == page.url %} data-current="current item"{% endif %}>{{ nav.title }}</a></li>
  {%- endfor -%}
  </ul>
</nav>
