<div class="hero hero--home">
    <div class="hero__left">
    <h1>Podcast Hosting<br>For The Pros</h1>
    <p>We help marketers and brand advocates<br>
create amazing audio podcasts</p>
    <a href="" class="button">Try it out</a>
</div>
<div class="hero__right">
<img src="/static/img/podcaster.png" class="hero__image">
</div>
</div>