<div class="hero hero--home">

    <div class="hero__left">
    <h1>Podcast publishing<br>for marketers</h1>
    <p>All of the tools and resources you need to launch, grow,<br>and measure your original audio content</p>
    <div>
        <a href="" class="button">Try it out</a>
    </div>
</div>
<div class="hero__right">
<img src="/static/img/podcaster.png" class="hero__image">
</div>
</div>
