<div class="hero hero--home">
    <div class="hero__left">
        <h1>{{ hero_heading|safe }}</h1>
        <p>{{ hero_subheading|safe }}</p>
        <div>
            <a href="http://app.podcastkit.co/users/sign_up" class="button">Try for free</a>
            <a href="#" onclick="_gs('chat', 'show','I\'d like to request a demo');" class="button button--empty">Request a demo</a>
        </div>
    </div>
    <div class="hero__right">
        <img src="/static/img/podcaster.png" class="hero__image">
    </div>
</div>