<div id="pricing" class="pricing">
    <h2>Pricing that grows with you</h2>
    <p>No credit card required until you publish your show!</p>
    <div class="pricing__inner">
        <div class="pricing__card">
            <div class="card__title">Indie</div>
            <div class="card__subtitle">Everything you need to get going</div>
            <div class="card__price"><span>$</span>19<span>/month</span></div>
            <ul>
                <li>1 Podcast</li>
                <li>Unlimited Episodes</li>
                <li>5,000 Downloads</li>
                <li>Basic Analytics</li>
            </ul>
            <a href="http://app.podcastkit.co/users/sign_up" class="button">Try for free</a>
        </div>
        <div class="pricing__card">
            <div class="card__title">Professional</div>
            <div class="card__subtitle">Tools to to help increase your reach</div>
            <div class="card__price"><span>$</span>49<span>/month</span></div>
            <ul>
                <li>2 Podcasts</li>
                <li>Unilimited Episodes</li>
                <li>15,000 Downloads</li>
                <li>Analytics & Reporting</li>
                <li>Advanced Integrations</li>
            </ul>
            <a href="http://app.podcastkit.co/users/sign_up" class="button">Try for free</a>
        </div>
        <div class="pricing__card">
            <div class="card__title">Business</div>
            <div class="card__subtitle">All the things</div>
            <div class="card__price"><span>$</span>99<span>/month</span></div>
            <ul>
                <li>Unlimited Podcasts</li>
                <li>Unlimited Episodes</li>
                <li>50,000 Downloads</li>
                <li>Analytics & Reporting</li>
                <li>Advanced Integrations</li>
            </ul>
            <a href="http://app.podcastkit.co/users/sign_up" class="button">Try for free</a>
        </div>
    </div>
</div>