<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

<body>
	<header>
		<div class="header__top">
			{% include "components/header_nav.njk" %}
			{% include "components/header_logo.njk" %}
			{% include "components/header_login.njk" %}
		</div>
		{% include "components/hero_home.njk" %}
	</header>

	<main>
		{{ content | safe }}
	</main>

	{% include "components/footer.njk" %}

</body>

</html>
